html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 960px;
}

#categories {
    margin-bottom: 100px;
}
#ingredients{
 
    margin-bottom: 100px;
}

.gallery {
    display: flex;
    justify-content: space-between;  
}

.gallery__item{
list-style: none;
padding: 15px;
}

.task_5{ 
    padding: 25px;
}


#validation-input {
    border: 3px solid #bdbdbd;
  }
  
  #validation-input.valid {
    border-color: #4caf50;
  }
  
  #validation-input.invalid {
    border-color: #f44336;
  }